@import "variables";

.App {
  text-align: center;
}

.App-header {
  background-color: $background;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: #000000;
}

.App-link {
  color: #61dafb;
}

div.test-date {
  color: $blue;
}

div.forecast-group {
  background-color: #FFFFFF;
  padding: 10px 0px;
  
  div.forecast-days {
    height: 300px;

    .weather-icons {
      font-size: 1.5em;
    }

    p:nth-of-type(2) {
      font-size: 0.5em;
    }
  }
}
